# MinIO Configuration
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# S3 Configuration for MinIO
S3_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=

# Celery / Redis Configuration
CELERY_BROKER_URL=

# Frontend Configuration
API_URL=

# Deployment Configuration
# Set to 'true' to deploy to Kubernetes, or 'false' to use Docker Compose
USE_K8S=false
